.btn-outline-danger {
    font-family: 'Poppins', sans-serif;
    color: #980000  !important;
    border-color: #980000 !important;
    border: 2px solid #980000 !important;
    min-height: 40px;
    min-width: 120px;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #980000  !important;
    border-color: #980000  !important;
}