<ion-content>
  <div class="row">
    <div class="col title-container">
      <h3 class="title"><span class="Constru">CONSTRU </span><span class="Pro">PRO</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col img-cont my-4">
      <img src="https://i.imgur.com/SFkhAUz.png" class="img-top" alt="...">
    </div>
  </div>

<div class="format">

  <div>
    <div class="card">
      <div class="row">
        <div class="col reset-label email">
          <p>Digita tu correo asociado para cambiar tu contraseña.</p>
        </div>
      </div>

      <div class="row">
        <div class="col email">
          <pro-input [title]="'Correo'" [type]="'email'"  (outputValue)="email = $event" ></pro-input>
        </div>
      </div>


      <div class="row " (click)="goBack()">
        <div class="col forgotpassword">
          <ion-icon slot="start" style="font-size: 18px;" name="help-circle-outline" ></ion-icon>
          ¿Ya tienes cuenta? Inicia Sesión
        </div>
      </div>

      <div class="row">
        <div class="col buttons">
          <div style="display: flex;">
            <pro-button (click)="resetPassword()" [text]="'Enviar Correo'" style="margin: 5px;"></pro-button>
          </div>
        </div>
      </div>

    </div>
    </div>


</div>

</ion-content>

