.color{
    color: #980000;
}
ion-icon {
    color: #980000;
    font-size: 24px;
    padding-right: 10px;
}
.menutext{
    font-size: 22px;
    font-weight: 300;
    color: #980000;
}
.footer{
    display: grid;
    align-content: start;
    justify-content: center;
}