<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backbutton"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Comentario</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>


    <div class="form" [formGroup]="formComment">
      <div class="notedate">
        <ion-label class="date-comment">Fecha de comentario</ion-label>
      </div>

      <ion-label>Realiza tu Comentario</ion-label>
      <ion-textarea autoGrow="true"
      class="textArea"
      formControlName="body"
      placeholder="Detalles del comentario">
      </ion-textarea>

      <div class="row">
        <div class="col btn">
          <pro-button [text]="'Crear'" [type]="'submit'" (click)="saveComment()"></pro-button>
        </div>
      </div>

    </div>

  </div>
</ion-content>
