<ion-content>
  <ng-container *ngIf="users && roles">
    <header class="header">
      <div class="imgcontainer">
        <ion-button class="buttonback" [routerLink]="['/menu/home']">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
        <img class="img-fluid" style="max-height: 30%;"
          src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
      </div>
    </header>

    <div class="form">
      <form [formGroup]="formProject">
        <div class="row">
          <div class="col">
            <pro-input [title]="'Nombre del proyecto'" [type]="'text'" (outputValue)="setValue('name', $event)">
            </pro-input>
          </div>
        </div>

        <div class="row">

          <div class="col">
            <pro-input [title]="'N.I.T.'" [type]="'text'" (outputValue)="setValue('NIT', $event)"></pro-input>
          </div>

          <div class="col">
            <pro-input [title]="'No. Contrato'" [type]="'text'" (outputValue)="setValue('contractNumber', $event)">
            </pro-input>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <pro-input [title]="'Dirección de la obra'" [type]="'text'" (outputValue)="setValue('address', $event)">
            </pro-input>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <pro-input [title]="'Fecha inicio'" [type]="'date'" (outputValue)="setValue('initialDate', $event)">
            </pro-input>
          </div>

          <div class="col">
            <pro-input [title]="'Fecha fin'" [type]="'date'" (outputValue)="setValue('finalDate', $event)"></pro-input>
          </div>
        </div>



        <div class="card" style="padding: 10px;">
          <div class="card" style="padding: 10px;" formArrayName="party"
            *ngFor="let user of party.controls; let i = index">
            <span *ngIf="i !== 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              (click)="removePartyUser(i)">
              x
            </span>

            <div class="row" [formGroupName]="i">
              <div class="col">
                <label for="basic-url" class="form-label"> Usuario </label>
                <div class="input-group mb-1">
                  <ng-container *ngIf="i === 0; else elseTemplate">
                    <select class="form-select select" formControlName="user" disabled>
                      <option [ngValue]="creator" [selected]="'true'">
                        {{ creator.names }}
                      </option>
                    </select>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <select class="form-select select" formControlName="user">
                      <option *ngFor="let option of mapUsers(users); let i = index" [ngValue]="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </ng-template>
                </div>
              </div>

              <div class="col">
                <label for="basic-url" class="form-label"> Rol </label>
                <div class="input-group mb-1">
                  <select class="form-select select" formControlName="rol">
                    <option *ngFor="let option of mapRoles(roles); let i = index" [ngValue]="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <button class="adduserrole" (click)="addPartyUser()">Agregar
            <span>
              <ion-icon name="add"></ion-icon>
            </span>
          </button>

        </div>

        <pro-button [text]="'Crear'" [type]="'submit'" (click)="saveProject()"></pro-button>
      </form>
    </div>

  </ng-container>
</ion-content>
