
.imgcontainer{
    text-align: center;
}
.img{
    object-fit: fill;
}
.buttonback{
    position: absolute;
    --background: #FFFFFF;
    --color: #980000;
}
.error{
    padding-left: 15px;
    padding-bottom: 5px;
    color: red;
  }
.form{
    margin: 5%;
}
.buttoncreate{
    align-content: center;
}
.childcard{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.adduserrole{
    color: #980000;
    font-size: 60px;
}
.addusercenter{
    display: flex;
    justify-content: center;
}
.createbutton{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.select {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px !important;
  border: 1px solid #171717 !important;
}
.submit{
    display: flex;
    justify-content: center;
    padding: 10px;
}
