<ion-content>
  <ng-container *ngIf="users && roles">
    <header class="header">
      <ion-card-header style="padding: 0;">
          <div class="imgcontainer ">
            <ion-button class="buttonback" (click)="retroceder()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            <ng-container *ngIf="images.length > 0; else elseTemplate">
              <img class="img-fluid custom-img" [src]="images[0]">
            </ng-container>
            <ng-template #elseTemplate>
              <img class="img-fluid" style="max-height: 30%;" src="../../../assets/no-image.png">
            </ng-template>

            <div>
              <ion-fab vertical="bottom" horizontal="end" edge>
                <ion-fab-button class="addbutton" (click)="pickImages()">
                  <ion-icon name="duplicate-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </div>
          </div>
        </ion-card-header>
    </header>

    <div class="form">
      <form [formGroup]="formProject">
        <div class="formTitle">
          Creación de proyectos
        </div>
        <div class="row">
          <div class="col">
            <pro-input [title]="'Nombre del proyecto'" (click)="formProject.get('name').markAsTouched()" [type]="'text'"
              (outputValue)="setValue('name', $event)">
            </pro-input>
          </div>
          <div class="error"
            *ngIf="formProject.get('name').hasError('required') && formProject.get('name').touched || formProject.get('name').invalid && formSended">
            Nombre del proyecto requerido.
          </div>
        </div>

        <div class="row">

          <div class="col">
            <pro-input [title]="'N.I.T.'" (click)="formProject.get('NIT').markAsTouched()" [type]="'number'"
              (outputValue)="setValue('NIT', $event)"></pro-input>
            <div class="error"
              *ngIf="formProject.get('NIT').hasError('required') && formProject.get('NIT').touched || formProject.get('NIT').invalid && formSended">
              NIT requerido.
            </div>

          </div>

          <div class="col">
            <pro-input [title]="'No. Contrato'" (click)="formProject.get('contractNumber').markAsTouched()"
              [type]="'number'" (outputValue)="setValue('contractNumber', $event)">
            </pro-input>
            <div class="error"
              *ngIf="formProject.get('contractNumber').hasError('required') && formProject.get('contractNumber').touched || formProject.get('finalDate').invalid && formSended">
              # de contrato requerido.
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <pro-input [title]="'Dirección de la obra'" (click)="formProject.get('address').markAsTouched()"
              [type]="'text'" (outputValue)="setValue('address', $event)">
            </pro-input>
          </div>
          <div class="error"
            *ngIf="formProject.get('address').hasError('required') && formProject.get('address').touched || formProject.get('finalDate').invalid && formSended">
            Dirección requerida.
          </div>

        </div>

        <div class="row">
          <div class="col">
            <pro-input [title]="'Fecha inicio'" (click)="formProject.get('initialDate').markAsTouched()" [type]="'date'"
              (outputValue)="setValue('initialDate', $event)">
            </pro-input>
            <div class="error"
              *ngIf="formProject.get('initialDate').hasError('required') && formProject.get('initialDate').touched || formProject.get('initialDate').invalid && formSended">
              Fecha inicial requerida.
            </div>
          </div>

          <div class="col">
            <pro-input [title]="'Fecha fin'" (click)="formProject.get('finalDate').markAsTouched()" [type]="'date'"
              (outputValue)="setValue('finalDate', $event)"></pro-input>

            <div class="error"
              *ngIf="formProject.get('finalDate').hasError('required') && formProject.get('finalDate').touched || formProject.get('finalDate').invalid && formSended">
              Fecha final requerida.
            </div>
          </div>

        </div>

        <div class="card" style="padding: 10px;">
          <div class="usersTitle">
            Usuarios asignados
          </div>
          <div class="card" style="padding: 10px;" formArrayName="party"
            *ngFor="let user of party.controls; let i = index">
            <span *ngIf="i !== 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              (click)="removePartyUser(i)">
              x
            </span>

            <div class="row" [formGroupName]="i">
              <div class="col">
                <label for="basic-url" class="form-label"> Usuario </label>
                <div class="input-group mb-1">
                  <ng-container *ngIf="i === 0; else elseTemplate">
                    <select class="form-select select" formControlName="user" [attr.disabled]="true">
                      <option [ngValue]="creator" [selected]="'true'">
                        {{ creator.names }}
                      </option>
                    </select>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <select class="form-select select" formControlName="user">
                      <option *ngFor="let option of mapUsers(users); let i = index" [ngValue]="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </ng-template>
                </div>
              </div>

              <div class="col">
                <label for="basic-url" class="form-label"> Rol </label>
                <div class="input-group mb-1">
                  <select class="form-select select" formControlName="rol">
                    <option *ngFor="let option of mapRoles(roles); let i = index" [ngValue]="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="formProject">
            <div class="error" *ngIf="party.length < 2 && formSended">
              Se requieren mas de dos usuarios.
            </div>
          </ng-container>
          <div class="addusercenter">
            <ion-icon class="adduserrole" (click)="addPartyUser()" name="add-circle"></ion-icon>
          </div>

        </div>

        <div class="submit">
          <pro-button [text]="'Crear'" [type]="'submit'" (click)="saveProject()"></pro-button>
        </div>

      </form>
    </div>

  </ng-container>
</ion-content>
