.imgcontainer {
  text-align: center;
}

.img {
  object-fit: fill;
}

.backbutton {
  color: #980000;
  font-size: 24px;
  padding-right: 15px;
}

.error {
  padding-left: 15px;
  padding-bottom: 5px;
  color: red;
}

.form {
  margin: 5%;
}

.formTitle {
  font-size: 22px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #980000;
  margin-bottom: 8px;
}

.usersTitle {
  font-size: 20px;
  padding: 10px;
}

.buttoncreate {
  align-content: center;
}

.childcard {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.adduserrole {
  color: #980000;
  font-size: 60px;
}

.addusercenter {
  display: flex;
  justify-content: center;
}

.createbutton {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.select {
  font-family: 'Poppins', sans-serif;
  border-radius: 10px !important;
  border: 1px solid #171717 !important;
}

.submit {
  display: flex;
  justify-content: center;
  padding: 10px;
}
