<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbutton" (click)="retroceder()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="project">
    <div class="form">

      <div class="row">
        <div class="col">
          <pro-input [title]="'Nombre del proyecto'" [disabled]="true" [type]="'text'" [value]="project.name">
          </pro-input>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <pro-input [title]="'N.I.T.'" [type]="'text'" [disabled]="true" [value]="project.NIT">
          </pro-input>
        </div>

        <div class="col">
          <pro-input [title]="'No. Contrato'" [type]="'text'" [disabled]="true" [value]="project.contractNumber">
          </pro-input>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Dirección de la obra'" [disabled]="true" [type]="'text'" [value]="project.address">
          </pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Fecha inicio'" [type]="'text'" [disabled]="true"
            [value]="formatDateString(project.initialDate)">
          </pro-input>
        </div>

        <ng-container *ngIf="rol">
          <ng-container *ngIf="canEdit(); else elseTemplateDateInput">
            <form [formGroup]="formProject">
              <div class="col">
                <pro-input [title]="'Fecha fin'" [type]="'date'" [minimo]="limitDate" [value]="formatDateStringCalendar(project.finalDate)"
                  (outputValue)="formProject.get('newFinalDate').setValue($event)">
                </pro-input>
                <div class="error" *ngIf="error">
                  Fecha Invalida o anterior a la existente.
                </div>
              </div>
            </form>
          </ng-container>
          <ng-template #elseTemplateDateInput>
            <div class="col">
              <pro-input [title]="'Fecha inicio'" [type]="'text'" [disabled]="true"
                [value]="formatDateString(project.finalDate)">
              </pro-input>
            </div>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="rol">
          <div class="submit" *ngIf="canEdit()">
            <pro-button [text]="'Actualizar'" [type]="'submit'" (click)="updateProject()"></pro-button>
          </div>
        </ng-container>
      </div>

    </div>
  </ng-container>
</ion-content>
