
<ion-content>
  <header class="header">
    <div class="imgcontainer">
      <ion-button class="buttonback">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
      <img class="img-fluid" style="max-height: 30%;" src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
    </div>
  </header>

  <div class="form">

    <div class="row">
      <div class="col">
        <pro-input [title]="'Nombre del proyecto'" [type]="'text'" ></pro-input>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <pro-input [title]="'N.I.T.'" [type]="'text'" ></pro-input>
      </div>

      <div class="col">
        <pro-input [title]="'No. Contrato'" [type]="'text'" ></pro-input>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <pro-input [title]="'Dirección de la obra'" [type]="'text'" ></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input [title]="'Nombre del proyecto'" [type]="'text'" ></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input [title]="'Nombre del proyecto'" [type]="'text'" ></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input [title]="'Fecha inicio'" [type]="'date'"></pro-input>
      </div>

      <div class="col">
        <pro-input [title]="'Fecha fin'" [type]="'date'"></pro-input>
      </div>
    </div>

  </div>
</ion-content>
