<ion-header class="header">
  <div class="imgcontainer">
    <ion-button class="buttonback">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-button>
    <img class="img-fluid" src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560">
  </div>

</ion-header>
<ion-content>
  
  <div class="form">

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <pro-input></pro-input>
      </div>

      <div class="col">
        <pro-input></pro-input>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <pro-input></pro-input>
      </div>
    </div>

    <div class="row">
      <div class="col buttoncreate">
        <pro-button></pro-button>
      </div>
    </div>

  </div>
</ion-content>
