<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backbutton"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Project Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="note">
    <ion-item class="timeitem">
      <div class="row itemrow">
        <div class="col-8">
          <div class="date-anotacion">
            <span>
              {{ formatDateString(note.dateIsoString) }}
            </span>
          </div>
        </div>
        <div class="col-4">

          <div class="content-anotacion">
            <div class="time-anotacion">
              5:00
            </div>
          </div>

        </div>

      </div>
    </ion-item>
    <ion-card style="border-radius: 8px;box-shadow: 0 2px 2px 0;">
      <ion-card-header style="text-align: center; background-color: #f7f7f7">
        <ion-label class="textAlabel" position="fixed">Anotación</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea class="textArea" autoGrow="True" readonly value="{{ note.body }}">
        </ion-textarea>
      </ion-card-content>

    </ion-card>

    <div class="line">

      <ng-container *ngIf="note.signatureBase64 && note.signatureImageUrl; else elseTemplate">
        <img *ngIf="note.signatureImageUrl" [src]="note.signatureImageUrl" alt="">
      </ng-container>
      <ng-template #elseTemplate>
        <app-signature [note]="note" [user]="user" *ngIf="userCanSign()">
        </app-signature>
      </ng-template>

      <ng-container *ngFor="let img of note.imageUrls">
        <img [src]="img" alt="" srcset="" style="max-height: 300px;">
      </ng-container>

    </div>
    <div class="comment-label-div">
      <ion-label class="comment-label">Comentarios:</ion-label>
    </div>


    <ng-container *ngIf="comments">
      <div class="comments">
        <ion-card *ngFor="let comment of comments">
          <ion-card-header class=" comentador-bar">
            <div class="comentador">
              {{ comment.user.names }} {{ comment.user.lastNames }}
            </div>
          </ion-card-header>
          <div class="row comment">
            <ion-card-content class="comment-content">
              <ion-textarea class="textArea" autoGrow="True" readonly [value]="comment.body">
              </ion-textarea>
            </ion-card-content>
          </div>
          <div class="row">
            <div class="col-7">

            </div>
            <div class="col-5 comment-date">
              {{ formatDateString(comment.createdAt) }}
            </div>
          </div>
        </ion-card>
      </div>
    </ng-container>

    <div class="floatingbutton">
      <ion-fab-button [routerLink]="['/comment-create/'+note.id]" class="addbutton">
        <ion-icon class="addicon" name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="buttonh"></div>

  </ng-container>
</ion-content>
