<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #980000  !important;"></ion-back-button>
    </ion-buttons>
      <ion-title class="toolbartitle">Project Name</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="note">
    <ion-item class="timeitem">
      <div class="row itemrow">
        <div class="col-8">
          <div class="date-anotacion">
            <span>
              {{ formatDate(note.dateIsoString) }}
            </span>
          </div>
        </div>
        <div class="col-4">

          <div class="content-anotacion">
            <div class="time-anotacion">
              5:00
            </div>
          </div>

        </div>

      </div>
    </ion-item>
    <ion-card style="border-radius: 8px;box-shadow: 0 2px 2px 0;">
      <ion-card-header style="text-align: center; background-color: #f7f7f7">
        <ion-label class="textAlabel" position="fixed">Anotación</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea class="textArea" autoGrow="True" readonly value="{{ note.body }}">
        </ion-textarea>
      </ion-card-content>

    </ion-card>

    <div class="line">

      <ng-container *ngIf="note.signatureBase64 && note.signatureImageUrl; else elseTemplate">
        <img *ngIf="note.signatureImageUrl" [src]="note.signatureImageUrl" alt="">
      </ng-container>
      <ng-template #elseTemplate>
        <app-signature [note]="note" *ngIf="userCanSign()">
        </app-signature>
      </ng-template>

    </div>

    <div class="comments">
      <ion-card>
        <div class="row">
          <ion-card-content>
            <ion-textarea class="textArea" autoGrow="True" readonly value="{{ note.body }}">
            </ion-textarea>
          </ion-card-content>
        </div>
        <div class="row">
          <div class="col-9">
            Sapito que la hizo
          </div>
          <div class="col-3">
            fecha sapito
          </div>
        </div>
      </ion-card>
    </div>

    <div class="floatingbutton" >
      <ion-fab-button [routerLink]="['/comment-create']" class="addbutton"><ion-icon class="addicon" name="pencil-outline"></ion-icon></ion-fab-button>
    </div>
    

  </ng-container>
</ion-content>
