ion-content {
  --background: #F8F8F8;
}

button-inner {
  color: #980000 !important;
}

.backbutton {
  color: #980000;
}

.toolbartitle {
  color: #980000;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 90px 1px;
  position: absolute;
  text-align: center;
}

.itemrow {
  display: contents;
}

.slide-evidencias {
  text-align: left;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
}

.slide-evidencias>img {
  width: 250px;
  scroll-snap-align: start;
}

.date-anotacion {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.content-anotacion {
  display: flex;
}

.card-anotacion {
  border-bottom: 1px solid #C4C4C4;
  background: #fff;
}

.card-comentarios {
  border-top: 1px solid #C4C4C4;
  background: #fff;
}

.time-anotacion {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #980000 !important;
}

.text-anotacion {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #171717;
  padding: 0 8px;
}

.textAlabel {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #3C3844;
}

.line {
  background: #fff;
  position: relative;
  max-width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: solid 1px #c4c4c4;
  padding: 16px;
}

.line-base {
  position: absolute;
  bottom: 65px;
  width: 90%;
  max-width: 450px;
  border-bottom: solid 1px #161616;
}

.comment-label-div {
  padding: 10px 10px;
}

.comment-label {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.comentador {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #980000;
}

.comentario-item {
  border-bottom: solid 1px #c4c4c4;
}

.comentario-item:hover {
  background: #F6F6F6;
}

.comentador-bar {
  background-color: #f7f7f7;
  color: #000;
}

.comment-content {
  padding: 0px 10px;
}

.comment {
  margin: 5px;
  margin-top: 10px;
}

.comment-date {
  display: flex;
  align-items: center;
  justify-content: end;
}

.buttonh {
  height: 80px;
}


.floatingbutton {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 9999;
}

.addbutton {
  --background: #980000;
  ;
  --transition: background-color 15ms linear;
}

.button-space {
  height: 75px;
}

.img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  object-position: center !important;
  max-height: 350px !important;
}
