<div class="card-anotacion">
    <div class="row">
        <div class="col-9">
            <span>
                <label class="anotador">{{ names }} {{ lastNames }}</label>
            </span>
        </div>
        <div class="col-3">
            <div class="state-div">
                <div class="dot" id="dot">
                </div>
                <span>
                    <label class="state">Estado</label>
                </span>
            </div>
        </div>
    </div>

    <div class="date-anotacion">
        <span>
            {{date}}
        </span>
    </div>
    <div class="content-anotacion">
        <div class="time-anotacion">
            {{time}}
        </div>
        <div class="text-anotacion h-100">
            {{note}}
        </div>
    </div>
</div>