<ion-content>
  <div class="row">
    <div class="col title-container">
      <h3 class="title"><span class="Constru">CONSTRU </span><span class="Pro">PRO</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col img-cont">
      <img src="https://i.imgur.com/SFkhAUz.png" class="img-top" alt="...">
    </div>
  </div>

  <div class="row">
    <div class="col email">
      <pro-input [title]="'Correo'" [type]="'email'"  (outputValue)="email = $event" ></pro-input>
    </div>
  </div>

  <div class="row">
    <div class="col password">
      <pro-input [title]="'Contraseña'" [type]="'password'" (outputValue)="password = $event" ></pro-input>
    </div>
    <div class="row ">
      <div class="col forgotpassword">
        Olvidé mi contraseña.
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col buttons">
      <div style="display: flex;">
        <pro-button-outline [text]="'Registrarse'" [routerLink]="['/register']" style="margin: 5px;"></pro-button-outline>
        <pro-button (click)="logIn()" [text]="'Iniciar Sesión'" style="margin: 5px;"></pro-button>
      </div>
    </div>
  </div>

</ion-content>
