<ion-content>
  <div class="row" style="background: #980000;">
    <div class="col title-container">
      <h3 class="title"><span class="Constru">CONSTRU </span><span class="Pro">PRO</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-5 registrotext">
      <h5 class="registrolabel">Registro</h5>
    </div>
  </div>

  <form [formGroup]="formRegister">
    <div style="padding-left: 9%; padding-right: 9%; padding-top: 24px;">
      <p>Registra tus datos para tener acceso a la aplicación.</p>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Nombres'" (click)="formRegister.get('names').markAsTouched()"
          [type]="'text'" (outputValue)="setValue('names', $event)"></pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('names').hasError('required') && formRegister.get('names').touched || formRegister.get('names').invalid && formSended">
          Nombre requerido
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Apellidos'" (click)="formRegister.get('lastNames').markAsTouched()" [type]="'text'"
            (outputValue)="setValue('lastNames', $event)"></pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('lastNames').hasError('required') && formRegister.get('lastNames').touched || formRegister.get('lastNames').invalid && formSended">
          Apellido requerido
        </div>
      </div>


      <div class="row">
        <div class="col">
          <pro-select id="typeD" [title]="'Tipo de documento'" (click)="formRegister.get('documentType').markAsTouched()" [options]="options"
          [selected]="0" (outputValue)=" setValue('documentType', $event)">
          </pro-select>
        </div>
        <div class="error" *ngIf="formRegister.get('documentType').hasError('required') && formRegister.get('documentType').touched || formRegister.get('documentType').invalid && formSended">
          Tipo de documento requerido
        </div>
      </div>


      <div class="row">
        <div class="col">
          <pro-input [title]="'Numero de documento'" (click)="formRegister.get('documentNumber').markAsTouched()"
          [type]="getDocumentNumberInputType()" (outputValue)="setValue('documentNumber', $event)">
          </pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('documentNumber').hasError('required') && formRegister.get('documentNumber').touched || formRegister.get('documentNumber').invalid && formSended">
          Numero de documento requerida
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Tarjeta Profesional'" (click)="formRegister.get('professionalCard').markAsTouched()"
          [type]="'test'" (outputValue)="setValue('professionalCard', $event)">
          </pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('professionalCard').hasError('required') && formRegister.get('professionalCard').touched || formRegister.get('professionalCard').invalid && formSended">
          Tarjeta profesional requerida
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Correo'" (click)="formRegister.get('email').markAsTouched()"
          [type]="'email'" (outputValue)="setValue('email', $event)"></pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('email').hasError('required') && formRegister.get('email').touched || formRegister.get('email').invalid && formSended">
          Correo requerido
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Contraseña'" (click)="formRegister.get('password').markAsTouched()"
          [type]="'password'" (outputValue)="setValue('password', $event)">
          </pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('password').hasError('required') && formRegister.get('password').touched || formRegister.get('password').invalid && formSended">
          Contraseña requerida
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Confirmar contraseña'" (click)="formRegister.get('confirmPassword').markAsTouched()"
          [type]="'password'" (outputValue)="setValue('confirmPassword', $event)">
          </pro-input>
        </div>
        <div class="error" *ngIf="formRegister.get('confirmPassword').hasError('required') && formRegister.get('confirmPassword').touched || formRegister.get('confirmPassword').invalid && formSended">
        Valida la Contraseña
        </div>
        <div class="error" *ngIf="passAreValid() === false ">
          Las contraseñas no coinciden
          </div>
      </div>

    </div>

    <div class="row pt-4">
      <div class="col buttons">
        <div style="display: flex;">
          <pro-button-outline [text]="'Volver'" [routerLink]="['/login']" style="margin: 5px;"></pro-button-outline>
          <pro-button [text]="'Registrar'" [type]="'submit'" (click)="saveUser()" style="margin: 5px;"></pro-button>
        </div>
      </div>
    </div>
  </form>
</ion-content>
