<ion-content>
  <div class="row" style="background: #980000;">
    <div class="col title-container">
      <h3 class="title"><span class="Constru">CONSTRU </span><span class="Pro">PRO</span></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-5 registrotext">
      <h5 class="registrolabel">Registro</h5>
    </div>
  </div>

  <form [formGroup]="formRegister">
    <div style="padding-left: 9%; padding-right: 9%; padding-top: 24px;">
      <p>Registra tus datos para tener acceso a la aplicación.</p>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Nombres'" [type]="'text'" (outputValue)="setValue('names', $event)">
          </pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Apellidos'" [type]="'text'" (outputValue)="setValue('lastNames', $event)"></pro-input>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <pro-select [title]="'Tipo de documento'" [options]="options" [selected]="0" (outputValue)="setValue('documentType', $event)">
          </pro-select>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <pro-input [title]="'Numero de documento'" [type]="'text'" (outputValue)="setValue('documentNumber', $event)">
          </pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Tarjeta Profecional'" [type]="'number'" (outputValue)="setValue('professionalCard', $event)">
          </pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Correo'" [type]="'email'" (outputValue)="setValue('email', $event)"></pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Contraseña'" [type]="'password'" (outputValue)="setValue('password', $event)"></pro-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-input [title]="'Confirmar contraseña'" [type]="'password'" (outputValue)="setValue('confirmPassword', $event)">
          </pro-input>
        </div>
      </div>

    </div>

    <div class="row pt-4">
      <div class="col buttons">
        <div style="display: flex;">
          <pro-button-outline [text]="'Volver'" [routerLink]="['/login']" style="margin: 5px;"></pro-button-outline>
          <pro-button [text]="'Regisrar'" [type]="'submit'" (click)="saveUser()" style="margin: 5px;"></pro-button>
        </div>
      </div>
    </div>
  </form>
</ion-content>
