<div class="card" style="width: 18rem;">
  <img src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="col ">
        <h5 class="contract-id">No. {{contractNumber}}</h5>
      </div>
    </div>
    <div class="row">
      <p class="card-text project-adress">{{address}}</p>
    </div>
    <div class="row">
      <p class="card-text project-date">{{startDate}} - {{endDate}} </p>
    </div>
  </div>
</div>