<div class="card" style="width: 18rem;">
  <img src="https://images.adsttc.com/media/images/5d34/e507/284d/d109/5600/0240/newsletter/_FI.jpg?1563747560" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Card title</h5>
      </div>
      <div class="col ">
        <h5 class="contract-id">No. 55421000</h5>
      </div>
    </div>
    <div class="row">
      <p class="card-text project-adress">Cra 53b #106 - 50</p>
    </div>
    <div class="row">
      <p class="card-text project-date">10 nov 2021 - 10 jun 2022</p>
    </div>
  </div>
</div>