<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title class="toolbartitle">Proyectos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="projects.length > 0">
    <div class="row" *ngFor="let project of projects">
        <div class="col card" (click)="saveProjectData(project)">
            <pro-card-project [title]="project.name" [address]= "project.address"  [startDate]="formatDateString(project.initialDate)" [endDate]="formatDateString(project.finalDate)" [contractNumber]="project.contractNumber" ></pro-card-project>
        </div>
    </div>
  </ng-container>

  <div div *ngIf="projects.length === 0" class="no-projects">
    Presiona el simbolo de añadir para crear nuevos proyectos.
  </div>

  <div class="floatingbutton" >
      <ion-fab-button [routerLink]="['/project-create']" class="addbutton"><ion-icon class="addicon" name="add"></ion-icon></ion-fab-button>
  </div>

</ion-content>
