<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Proyectos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="projects; else elseTemplate">
    <ng-container *ngIf="projects.length > 0; else elseTemplate">
      <div class="row" *ngFor="let project of projects">
        <div class="col card" (click)="saveProjectData(project)">
          <pro-card-project [title]="project.name" [address]="project.address"
            [startDate]="formatDateString(project.initialDate)" [endDate]="formatDateString(project.finalDate)"
            [contractNumber]="project.contractNumber"></pro-card-project>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div div class="no-projects">
        Presiona el simbolo de añadir para crear nuevos proyectos.
      </div>
    </ng-template>

  </ng-container>
  <ng-template #elseTemplate>
    <div div class="no-projects">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>

  <div class="floatingbutton">
    <ion-fab-button (click)="goTo('/project-create')" class="addbutton">
      <ion-icon class="addicon" name="add"></ion-icon>
    </ion-fab-button>
  </div>

</ion-content>
