<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title class="toolbartitle">Proyectos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="projects.length > 0">
    <div class="row" *ngFor="let contract of projects">
        <div class="col card" (click)="saveProjectData(contract)">
            <pro-card-project [title]="contract.name" [address]= "contract.address"  [startDate]="contract.initialDate" [endDate]="contract.finalDate" [contractNumber]="contract.contractNumber" ></pro-card-project>
        </div>
    </div>
  </ng-container>

  <div div *ngIf="projects.length === 0" style="height: 100%; display: flex; align-items: center; justify-content: space-around;">
    No hay proyectos...
  </div>

  <div class="floatingbutton" >
      <ion-fab-button [routerLink]="['/project-create']" class="addbutton"><ion-icon class="addicon" name="add"></ion-icon></ion-fab-button>
  </div>

</ion-content>
