<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Project Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="row" *ngFor="let note of notes">
    <div class="col card">
    <pro-card-note [routerLink]="['/note-detail/'+note.id]" [time]="'5:00'" [date]="formatDate(note.date)" [note]="note.body"></pro-card-note>
    </div>
  </div>

  <div class="floatingbutton">
    <ion-fab-button [routerLink]="['/note-create']" class="addbutton">
      <ion-icon class="addicon" name="add"></ion-icon>
    </ion-fab-button>
  </div>


</ion-content>
