<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title class="toolbartitle">Project Name</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item [routerLink]="['/']">
    <ion-label>Gestionar Proyecto</ion-label>
  </ion-item>

  <ion-item [routerLink]="['/']">
    <ion-label>Gestionar Usuarios</ion-label>
  </ion-item>

  <ion-item [routerLink]="['/home']">
    <ion-label>Volver a proyectos</ion-label>
  </ion-item>

  
</ion-content>
