<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menubutton" autoHide="false"></ion-menu-button>
      </ion-buttons>

          <ion-title class="toolbartitle">Proyectos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" *ngFor="let contract of contracts">
      <div class="col card">
          <pro-card-project [title]="[contract.title]" [address]= "[contract.address]"  [startDate]="[contract.startDate]" [endDate]="[contract.endDate]" [contractNumber]="[contract.contractNumber]" ></pro-card-project>
      </div>
  </div>

  <div class="floatingbutton" >
      <ion-fab-button [routerLink]="['/project-create']" class="addbutton"><ion-icon class="addicon" name="add"></ion-icon></ion-fab-button>
  </div>

</ion-content>
