<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #980000 !important;"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbartitle">Proyectos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <div class="form" [formGroup]="formNote">
      <div class="notedate">
        <ion-label class="date">{{ formatDate() }}</ion-label>
      </div>
      <ion-label>Anotación</ion-label>
      <ion-textarea autoGrow="true"
      class="textArea"
      formControlName="body"
      placeholder="Detalles de la anotación">
      </ion-textarea>



      <div class="row" *ngIf="users">
        <div class="col">
          <pro-select [title]="'Interventor Asignado'" [options]="mapUsers(users)" (outputValue)="setValue('user', $event)">
          </pro-select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ion-input type="file" placeholder="Awesome Input" (change)="uploadIMG($event)"></ion-input>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <pro-button [text]="'Cargar Imágenes'" (click)="pickImages()"></pro-button>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let image of images">
                <div class="carousel-item active">
                  <img [src]="image" alt="" srcset="">
                </div>
              </ng-container>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col btn">
          <pro-button [text]="'Crear'" [type]="'submit'" (click)="saveNote()"></pro-button>
        </div>
      </div>


    </div>

  </div>

</ion-content>
