<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/tabs/tab2']" class="menubutton">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title class="toolbartitle">Proyectos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    

    <div class="form">
      <div class="notedate">
        <ion-label class="date">{{tiempo}}</ion-label>
      </div>
      <ion-label>Anotación</ion-label>
      <ion-textarea autoGrow="true"  class="textArea" placeholder="Detalles de la anotación"></ion-textarea>
    </div>
  </div>
  


</ion-content>