
.menubutton {
    color: #980000;
  }
  
  .toolbartitle {
    color: #980000;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 90px 1px;
    position: absolute;
    text-align: center;
  }
.buttonback{
    position: absolute;
    --background: #FFFFFF;
    --color: #980000;
}
.form{
    margin: 5%;
}
.buttoncreate{
    align-content: center;
}